<div class="entry-trailer">
    <iframe src="{{ film.youtube }}" width="560" height="315"
            frameborder="0" allowfullscreen="allowfullscreen">
    </iframe>
</div>
<!-- Commentaire pertinent quelconque vis-à-vis du film -->
<div class="entry-mainblock">
    <div class="entry-separator">
        <img class="alignnone wp-image-1873 size-medium"
             src="{{ film.image }}"
             alt="affiche du film" width="300"
             height="300"/>
    </div>
    <div class="entry-text-info">
        <b>Durée</b> : {{ film.duree }} minutes<br/>
        <b>{{ film.couleur|couleurStr }}</b><br/>
        <b>Pays</b> : {{ film.pays|capitalize }}<br/>
        <b>{{ film.formatCopie }} . {{ film.langST }}</b><br/>
        <b>Année :</b>{{ film.annee }}<br/>
        <b>Avec :</b>{{ film.acteurs|strListe }}<br/>
        <p class="entry-text-info">
            <b>Synopsis</b> : {{ film.synopsis }}
        </p>
        <br/>
    </div>
    Cette rentrée, l'entrée coûte {{ prices.one_exte }} euros, et gratuite pour les membres du COF. Vous avez la possibilité d'acheter des cartes de 10 places pour {{ prices.card_exte }} euros. L'entrée est gratuite pour les membres du Programme Étudiant⋅e⋅s Invité⋅e⋅s.
    <div class="entry-resume">
        Et pour résumer :
        <div class="resume-bloc">
            <span class="resume-date">Rendez-vous le {{ film.date.strftime("%A %d %B %Y") }}, 20h15</span><br/>
            <span class="resume-place">en salle Dussane, au 45 rue d'Ulm</span><br/>
            <span class="resume-see">pour voir et revoir</span><br/>
            <span class="resume-title">{{ film.nom }}</span><br/>
            <span class="resume-director">de {{ film.realisateur }}</span><br/>
        </div>
    </div>
    <!-- Balise de commentaire à retirer lors de l'insertion de l'analyse
    <div class="entry-analyse">
        <h2>Proposition d'analyse</h2>
        Bientôt…
    </div>
    -->
    <pre class="paris-cine-info-data" hidden>
        {
            "title": "{{ film.nom }}",
            "director": "{{ film.realisateur }}",
            "date": "{{ film.date }}T20:30:00",
            "language": "{{ film.langST }}",
            "format": "{{ film.formatCopie }}",
            "comment": "financé par la CVEC du Crous de Paris et par PSL via les AIE",
            "imdbId": "{{ film.idImdb }}"
        }
    </pre>
</div>
