<!-- Film #{{ film.i }} -->
<div class="entry-mainblock">
    <div class="entry-separator">
        <img class="alignnone size-full wp-image-1963"
          src="{{ film.image }}"
          alt="" width="150" height="150">
    </div>
    <div class="entry-text-info">
        <b>
            {{ film.date.strftime("%A %d %B %Y") }}, 20h15
            <i>{{ film.nom }}</i> de {{ film.realisateur }} ({{ film.annee }})
        </b>

        {{ film.duree }} minutes . {{ film.couleur|couleurStr }} . {{ film.pays }} .
        Avec : {{ film.acteurs|strListe }}.
        {{ film.langST }} . {{ film.formatCopie }}.

        <!-- Commentaire pertinent quelconque vis-à-vis du film -->

        <span class="entry-synopsis">
            {{ film.synopsis }}
        </span>
    </div>
    <div class="entry-break"></div>
</div>
<a style="float: right;" href="#haut">Retour en haut de page</a>
<!-- END OF POST -->
