{{ film.nom }} - {{ film.realisateur }}
{{ film.synopsis }}
Durée : {{ film.duree }} minutes
{{ film.couleur|couleurStr }}
Pays : {{ film.pays }}
{{ film.formatCopie }} . {{ film.langST }}
Année : {{ film.annee }}
Avec : {{ film.acteurs|strListe }}

Plus d'informations sur nos réseaux : https://linktr.ee/cineclub.ensulm

Cette rentrée, l'entrée coûte {{ prices.one_exte }} euros, et gratuite pour les membres du COF (association d'élèves de l'ENS). Vous avez la possibilité d'acheter des cartes de 10 places pour {{ prices.card_exte }} euros. L'entrée est gratuite pour les membres du Programme Étudiant⋅e⋅s Invité⋅e⋅s.
L'accès est ouvert à tous ; pas besoin d'être à l'ENS !

Financé par la CVEC du Crous de Paris et par PSL via les AIE
