<html><body text="#000000" bgcolor="#FFFFFF"><div style="font-family: arial,helvetica,sans-serif;font-size: 12pt; color: #000000 ">
    <small><i>Ce mail contient du HTML. Si vous ne pouvez pas le lire, allez sur notre site : <a
                class="moz-txt-link-freetext" href="http://www.cineclub.ens.fr"
                target="_blank">http://www.cineclub.ens.fr</a></i></small>
    <p>Bonjour à toutes et à tous,</p>
    <p style="text-align:justify">
        Retrouvez-nous en salle Dussane <b>{{ film.date.strftime("%A %d %B %Y") }}, 20h15</b> ! Cette rentrée, l'entrée coûte <b>{{ prices.one_exte }}€, gratuite</b> pour les membres du COF. Vous avez la possibilité d'acheter des cartes de 10 places pour {{ prices.card_exte }}€. L'entrée est gratuite pour les étudiant⋅e.s du Programme Étudiant⋅e⋅s Invité⋅e⋅s.</p>

    <div style="border:grey 1px solid; padding:5px; text-align:justify; margin-top:15px; margin-bottom:15px">
        <center>
            <b><i>{{ film.nom }}</i></b> de <b>{{ film.realisateur }}</b><br>
        </center>
        <!-- Commentaire pertinent quelconque vis-à-vis du film -->
        <br><b>Durée </b>: {{ film.duree }} minutes.<br>
        <b>{{ film.couleur|couleurStr }}</b> <br>
        <b>Pays :</b> {{ film.pays }}<br>
        <b>{{ film.formatCopie }} . {{ film.langST }}</b><br>
        <b>Année :</b>{{ film.annee }}<br>
        <b>Avec :</b>{{ film.acteurs|strListe }}<br>
        <b>Rapide synopsis :</b>
        <span class="entry-synopsis">{{ film.synopsis }}</span><br>
        <!-- Commentaire pertinent quelconque vis-à-vis du film -->
    </div>

    <p style="text-align:justify">Vous ne pouvez pas venir à cette séance, mais vous aimeriez aller au ciné-club une prochaine fois ?<br>
        <a href="http://cineclub.ens.fr/calendrier" title="Découvrez le calendrier de nos prochaines séances." target="_blank">Découvrez le calendrier de nos prochaines séances.</a></p>
    <p>À très bientôt en salle Dussane !<br>
        L'équipe du ciné-club<br> <a href="http://cineclub.ens.fr" title="http://cineclub.ens.fr" target="_blank">http://cineclub.ens.fr</a></p>
    <p>Toutes les séances du ciné-club se déroulent en salle Dussane, au 45 rue d'Ulm, Paris. <br>
        Métro : Luxembourg, Place Monge. Bus: Feuillantine.</p>
    <p style="text-align:right">Financé par la CVEC du Crous de Paris et par PSL via les AIE</p>
    <small style="text-align:center">Vous ne souhaitez plus recevoir notre newsletter ? <a
                href="mailto:sympa@lists.ens.psl.eu?subject=UNSUBSCRIBE%20cineclub-informations&body=Envoyez%20ce%20mail%20pour%20terminer%20de%20vous%20d%C3%A9sinscrire"
                target="_blank">Désinscrivez-vous</a></small>
</div></body></html>
